/*Verificar o significado*/
* {
    box-sizing: border-box;
}

/* ========================
  Global
  ======================== */

body {
    color: #444;
    font-family: Roboto, sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 1;
    margin: 0;
    padding: 0;
}

h1 {
    font-weight: 900;
    font-size: 1.5em;
}

h2 {
    font-weight: 900;
    font-size: 1em;
}


p {
    line-height: 1.5;
}

a,
a:active,
a:visited {
    color: #000000;
    text-decoration: none;
}

a:hover,
a:focus {
    color: #e74c3c;
    text-decoration: none;
}

/* Elementos principais */

/* Containers */

.container {
    width: 100%;
    padding: 5em 8em;
    text-align: center;
}

/*Flex grid*/

.grid-container {
    display: grid;
    gap: 16px;
    /* Espaçamento entre os itens */
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.grid-item {
    box-sizing: border-box;
    padding: 16px;
    text-align: center;
}

/*Navegação*/
@keyframes show-header {
    0% {
      top: -4em;
      opacity: 0;
    }
    100% {
      top: 0;
      opacity: 1;
    }
}

#nav-bar {
    padding:1em 8em;
    background-color: #FFF;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.45);
    position: relative;
    top: 0;
}

#nav-bar.fixed {
    animation: show-header 0.5s ease;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

#nav-bar #brand {
    display: inline-block;
    font-size: 1.25em;
    font-weight: 900;
}

#nav-bar ul {
    float: right;
    list-style: none;
    margin: 0;
    padding: 0;
}

#nav-bar ul li {
    margin-right: 0.5em;
    display: inline-block;
    color: #444;
}

#nav-bar .nav-toggle {
    color: #444;
    cursor: pointer;
    display: inline-block;
    float: right;
    font-size: 1.25em;
    z-index: 1000;
}


@media (min-width: 1000px) {
    #nav-bar  .nav-toggle {
        display: none;
    }
}

@media (max-width: 999px) {
    #nav-bar  .nav-toggle {
        display: block;
    }
    #nav-bar ul {
        list-style: none;
        margin: 0;
        position: absolute;
        top: 60px;
        padding:0;
        width: 100%;
        left: 0;
    }
    
    #nav-bar ul li {
        margin-right: 0.5em;
        display: inline-block;
        color: #444;
        width: 100%;
        padding: 1em 8em;
        background-color: #FFF;
        border-bottom: solid 1px #CCC;
    }

}


/* Presentation */

#presentation {
    text-align: center;
    background: linear-gradient(rgba(44, 62, 80, 0.65), rgba(52, 152, 219, 0.65)),
        url('fundo_presentation.jpeg') no-repeat fixed center;
    background-size: cover;
    color: #fff;
}

#presentation h1 {
    font-size: 3em;
    text-align: center;
}

#presentation img {
    max-width: 200px;
}

#presentation span {
    display: inline-block;
    width: 100%;
    text-align: center;
}

/*ABOUT*/
#about {
    text-align: center;
    background-color: #e74c3c;
    color: #FFF;
}

#about h1 {
    text-align: center;
}

#about p {
    text-align: center;
}


/*Skills*/

/*Portfólio*/

#portfolio {
    background-color: #3498db;
    color: #fff;
}

#portfolio h2 {
    color: #fff;
}

#portfolio img {
    width: 100%
}

#portfolio .grid-container {
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

#portfolio .grid-item {
    border: solid 10px #0b83b6;
    padding: 0;
    vertical-align: middle;
}

#portfolio .grid-item img {
    padding: 0;
    margin: 0
}

/*Form Contact*/

#contact form {
    border-top: solid 8px #e10a0a;
    width: 100%;
    background-color: #ebebeb;
    padding: 2%;
}

#contact form .grid-container.two-column {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 5px;
}

#contact form .grid-container.one-column {
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    gap: 5px;
}

#contact form input[type="text"],#contact form input[type="email"], #contact form textarea {
    padding: 2em;
    display: inline-block;
    height: 50px;
    border: solid 0.5px #CCC;
    border-radius: 5px;
    width: 100%;
}

#contact form input[type="submit"]{
    padding: 2em;
    display: inline-block;
    border: solid 0.5px #CCC;
    background-color: #0b83b6;
    color: #fff;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
}

#contact form textarea {
    height: 200px;
}

/* footer*/

footer {
    background-color: #2c3e50;
    color: #fff;
    font-size: 1.5em;
    text-align: center;
    vertical-align: middle;
    padding: 1em;
}
  
footer .container {
    padding: 1em 0;
}
  
footer a {
    color: #fff;
    margin-right: 1em;
}